<div id="edit-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Edit Your Profile</h4>
        <form id="edit-user">
            <label for="firstname">first name: </label>
            <input type="text" name="name[first]" placeholder="First Name" value="<%= user.name.first %>">
            <label for="lastname">last name: </label>
            <input type="text" name="name[last]" placeholder="Last Name" value="<%= user.name.last %>">
            <label for="city">current city: </label>
            <input type="text" name="cities[main][name]" placeholder="city" value="<%= user.cities.main.name %>">
            <label for="city">location nickname (optional): </label>
            <input type="text" name="cities[main][nickname]" placeholder="nickname" value="<%= user.cities.main.nickname %>">
            <label for="zipcode">zipcode: </label>
            <input type="text" name="cities[main][zipcode]" placeholder="zipcode" value="<%= user.cities.main.zipcode %>">
            <div class="switch">
                <label id>
                    Favorite's List Search
                    <input id="switch" type="checkbox" <% if(user.radius == "true"){%>checked<%}%> >
                    <span class="lever"></span>
                    Radius-based Search
                </label>
            </div>
            <input type="hidden" name="radius" value="<%= user.radius %>">
            <div class="modal-footer">
                <input type="submit" placeholder="Submit Changes" class="modal-action modal-close waves-effect waves-orange btn-flat">
            </div>
        </form>
    </div>
</div>
